/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
  .program-row2 .program-img {
    min-width: 900px;
    margin: 0 -230px 0 -330px; } }

@media only screen and (max-width: 1540px) {
  .program-row3 .program-img {
    min-width: 900px;
    margin: 0 -260px 0 -325px; }
  .program-row4 .program-img {
    min-width: 900px;
    margin: 0 -250px 0 -135px; }
  .decor1 {
    left: 20px; }
  .decor2 {
    max-width: 700px;
    top: 350px; }
  .decor3 {
    max-width: 500px;
    top: 1600px; }
  .decor5 {
    max-width: 300px;
    top: 68%; }
  .decor4 {
    max-width: 350px;
    top: 64%; }
  .program {
    padding: 700px 0 0;
    margin: -526px 0 0; }
  .slick-prev {
    left: 20px; }
  .slick-next {
    right: 20px; } }

@media only screen and (max-width: 1400px) {
  .name-tour {
    max-width: 1150px; }
  h1 {
    font-size: 60px; }
  .home {
    padding: 137px 0 80px; }
    .home:before {
      height: 5370px; }
  .goal {
    padding: 0 0 930px; }
    .goal .box-text br {
      display: none; }
  .author {
    margin: -346px 0 0; }
    .author h2 {
      margin: 50px auto 409px; } }

@media only screen and (max-width: 1360px) {
  .reviews-slider {
    width: calc(100% + 30px);
    margin: 0 -15px; } }

@media only screen and (max-width: 1220px) {
  .name-tour {
    max-width: 100%;
    margin: 0 auto; }
    .name-tour img {
      display: none; }
    .name-tour .img-tablet {
      display: block; }
  .subtitle {
    margin: 10px auto 35px; }
  .date-tour {
    margin: 0 auto 2230px; }
    .date-tour p {
      margin: 0 15px 0 0; }
      .date-tour p:last-child {
        margin: 0; }
  .home {
    padding: 137px 0 670px; }
    .home:before {
      background: url("../img/bg1-tablet.png") no-repeat center top;
        background-size: cover;
      height: 4500px;
      width: 100%; }
  .about {
    z-index: 1;
    padding: 0 0 772px; }
    .about:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4075px;
      top: -60px;
      left: 0;
      background: url("../img/bg2-tablet.png") no-repeat center top;
        background-size: cover;
      z-index: -1; }
  .decor1 {
    max-width: 200px; }
  .decor2 {
    max-width: 500px;
    top: 40%; }
  .goal .box-text br {
    display: none; }
  .air-img {
    max-width: 744px;
    margin: -78px 0 -14px 20px; }
  .author .box-text {
    margin: 0 0 0 110px; }
  .decor3 {
    max-width: 250px;
    top: 1700px; }
  .decor4 {
    max-width: 200px;
    top: 66%; }
  .decor5 {
    max-width: 200px;
    top: 69%; }
  .program-row1 .program-img {
    max-width: 875px;
    top: -130px; } }

@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .date-tour {
    font-size: 38.1px; }
  .home {
    padding: 137px 0 560px; }
    .home:before {
      height: 3500px; }
  .date-tour {
    margin: 0 auto 1600px; }
  .decor1 {
    left: 66px;
    top: 1700px; }
  .decor2 {
    top: 1500px;
    max-width: 650px; }
  .about-content {
    margin: 0 auto;
    max-width: 900px;
    line-height: normal; }
    .about-content ul {
      margin: 0 auto 82px;
      max-width: 700px; }
    .about-content br {
      display: none; }
    .about-content .box-text {
      text-align: center;
      max-width: 700px;
      margin: 0 auto; }
    .about-content h4 {
      text-align: center;
      max-width: none; }
      .about-content h4 br {
        display: block; }
  .about:before {
    height: 4175px;
    top: -200px; }
  .will {
    margin: 0 0 115px; }
    .will .box-text br {
      display: block; }
  .goal {
    padding: 0 0 1400px; }
    .goal:before {
      background: url("../img/bg3-tablet.png") no-repeat center bottom;
        background-size: cover;
      height: 3188px; }
    .goal .box-text {
      max-width: 700px;
      margin: 0 auto; }
      .goal .box-text br {
        display: none; }
  .author .box-text {
    margin: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 870px) {
  .prices-box h4 span {
    display: block; }
  .about:before {
    top: 0; }
  .goal {
    padding: 0 0 1200px; }
  .author:before {
    height: 4163px;
    background: url("../img/author-bg-tablet.png") no-repeat center top;
      background-size: cover; }
  .author .box-text {
    max-width: 594px;
    margin: 1490px auto 0; }
  .author h2 {
    margin: 100px auto 0; }
  .plane {
    padding: 279px 0 0; }
    .plane:before {
      background: url("../img/bg4-tablet.png") no-repeat center top;
        background-size: cover; }
    .plane .box-text {
      margin: 0 auto 110px; }
  .plane-box {
    border-radius: 0;
    width: calc(100% + 30px);
    margin: 0 -15px 42px;
    padding: 60px 0 115px; }
    .plane-box:last-child {
      margin: 0 -15px; }
    .plane-box__head {
      margin: 0 0 38px; }
      .plane-box__head h4 {
        font-size: 53.5px; }
    .plane-box__body {
      padding: 0 20px; }
  .plane-box-step {
    margin: 0 auto 70px; }
    .plane-box-step:last-child {
      margin: 0 auto; }
    .plane-box-step br {
      display: none; }
    .plane-box-step .text {
      max-width: 680px;
      margin: 0 auto; }
  .decor3 {
    max-width: 656px;
    left: -450px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  .decor4, .decor5 {
    display: none; }
  .program {
    padding: 790px 0 0;
    margin: -723px 0 0; }
    .program:before {
      background: url("../img/days-bg-tablet.png") no-repeat center top;
        background-size: cover;
      height: 3415px; }
    .program h2 {
      font-size: 76px; }
      .program h2:first-letter {
        font-size: 122px;
        letter-spacing: -1.22px; }
  .program-row1 .program-img {
    max-width: 800px; }
  .air-img {
    margin: -78px 24px -14px -60px;
    min-width: 744px; } }

@media only screen and (max-width: 768px) {
  .home {
    padding: 137px 0 373px; }
    .home:before {
      height: 2770px; }
  .subtitle {
    font-size: 35.5px; }
  h1 {
    font-size: 55px; }
    h1 span:first-letter {
      font-size: 115.5px; }
  h2 {
    font-size: 76.2px;
    letter-spacing: -0.76px; }
    h2:first-letter {
      letter-spacing: -1.22px;
      font-size: 121.9px; }
  .name-tour {
    max-width: 688px; }
  .date-tour {
    margin: 0 auto 1230px; }
  .about:before {
    top: 0;
    height: 4575px; }
  .about h2 {
    font-size: 76.2px;
    letter-spacing: -0.76px;
    max-width: 570px; }
    .about h2:first-letter {
      font-size: 76.2px;
      letter-spacing: -0.76px; }
  .about-content ul, .about-content .box-text {
    max-width: 670px; }
  .decor1 {
    top: 1800px;
    max-width: 174px; }
  .decor2 {
    top: 1650px; }
  .goal {
    padding: 0 0 1150px; }
    .goal:before {
      height: 3245px;
      line-height: normal; }
    .goal .box-text {
      max-width: 680px; }
  .author h2 {
    margin: 140px auto 0; }
    .author h2:after {
      width: 239px;
      height: 217px;
      left: -170px;
      top: -35px; }
  .plane:before {
    top: auto;
    bottom: 0;
    height: calc(100% - 1100px); }
  .plane .box-text {
    max-width: 680px;
    margin: 0 auto 110px; }
  .program h2 {
    margin: 0 auto 278px; }
  .program-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px; }
    .program-row .box-text br {
      display: none; }
    .program-row:nth-child(even) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .program-row:nth-child(odd) .program-content {
      text-align: left; }
      .program-row:nth-child(odd) .program-content h3 {
        margin: 0 auto 40px 0; }
  .program-img {
    max-width: none; }
  .program-row1 {
    padding: 1399px 0 0; }
    .program-row1 .program-img {
      top: 0;
      right: -15px;
      min-width: 1071px; }
      .program-row1 .program-img img {
        width: 100%; }
    .program-row1 h3:before {
      left: -150px; }
  .program-row2 {
    padding: 1513px 0 0; }
    .program-row2 .program-img {
      top: 0;
      left: -15px;
      min-width: 1025px;
      margin: 0; }
    .program-row2 h3:before {
      left: -100px;
      right: auto; }
  .program-row3 {
    padding: 1647px 0 0; }
    .program-row3 .program-img {
      top: 0;
      right: -75px;
      margin: 0;
      min-width: 1085px; }
    .program-row3 h3:before {
      left: -100px; }
  .program-row4 {
    padding: 1460px 0 0; }
    .program-row4 .program-img {
      margin: 0;
      top: 0;
      left: -55px;
      min-width: 1099px; }
    .program-row4 h3:before {
      right: auto;
      left: -100px; }
  .accommodation {
    padding: 122px 0 191px; }
  .prices h2 {
    font-size: 84px;
    letter-spacing: -2.1px;
    margin: 0 auto 40px; }
    .prices h2 span {
      font-size: 38px;
      letter-spacing: -0.95px; }
      .prices h2 span:first-letter {
        letter-spacing: -0.95px;
        font-size: 38px; }
  .title-box h3 {
    font-size: 84px;
    letter-spacing: -2.1px; }
    .title-box h3 span {
      letter-spacing: -0.95px;
      font-size: 38px; }
  .air-img {
    margin: -78px 24px 0 -150px; }
  .prices-wrapper {
    padding: 0 0 162px; }
    .prices-wrapper:before {
      width: 2px;
      height: 131px;
      background: #caa47f;
      top: auto;
      bottom: 0; }
  .prices-box {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    max-width: 430px; }
    .prices-box br {
      display: none; }
    .prices-box:first-child {
      padding: 0;
      margin: 0 auto 36px; }
      .prices-box:first-child .dots-circle {
        display: none; }
    .prices-box:last-child {
      text-align: center;
      padding: 87px 0 0; }
      .prices-box:last-child .dots-circle {
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        right: auto; }
      .prices-box:last-child p {
        margin: 0 auto; }
  .reviews {
    padding: 218px 0 500px; }
    .reviews:before {
      background: url("../img/reviews-bg-tablet.png") no-repeat center bottom;
        background-size: cover;
      height: 3344px; }
  .callback {
    padding: 225px 0 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 685px) {
  h1 {
    font-size: 34.5px; }
    h1 span:first-letter {
      font-size: 72px; }
  .decor1 {
    max-width: 120px;
    top: 1300px;
    left: 41px; }
  .decor2 {
    max-width: 407px;
    top: 1200px; }
  header {
    padding: 39px 0 38px; }
    header:before {
      background: url("../img/line-480.png") no-repeat center;
        background-size: cover; }
  .list-contacts {
    font-size: 20px; }
  .home {
    padding: 90px 0 172px; }
    .home:before {
      height: 2300px; }
  .subtitle {
    font-size: 22px;
    margin: 10px auto 20px; }
  .name-tour {
    max-width: 430px; }
  .date-tour {
    font-size: 24px; }
  h2, .about h2 {
    letter-spacing: -0.48px;
    font-size: 47.5px; }
    h2:first-letter, .about h2:first-letter {
      letter-spacing: -0.76px;
      font-size: 76px; }
  .about {
    padding: 150px 0 483px;
    margin: -200px 0 0; }
    .about:before {
      height: 3000px; }
    .about h2 {
      margin: 0 auto 37px;
      max-width: 360px; }
      .about h2:first-letter {
        letter-spacing: -0.48px;
        font-size: 47.5px; }
  .about-content {
    font-size: 30px; }
    .about-content ul {
      margin: 0 auto 50px; }
  .will .box-text, .goal .box-text, .goal h4 {
    font-size: 30px; }
  .will {
    margin: 0 0 72px; }
  .program h2 {
    letter-spacing: -0.48px;
    font-size: 47.5px;
    max-width: 450px; }
    .program h2:first-letter {
      letter-spacing: -0.76px;
      font-size: 76px; } }

@media only screen and (max-width: 520px) {
  .list-contacts {
    font-size: 17px; }
  .home {
    padding: 90px 0 352px; }
    .home:before {
      height: 1731px; }
  .callback-box {
    min-height: 250px; }
  .date-tour {
    margin: 0 auto 768px; }
  .about {
    margin: -300px auto 0; }
  .about-content {
    font-size: 25.5px; }
    .about-content ul, .about-content .box-text {
      max-width: 410px; }
    .about-content h4 {
      max-width: 430px;
      margin: 30px auto 0; }
  .decor1 {
    max-width: 109px; }
  .decor2 {
    max-width: 407px; }
  .will {
    margin: 0 auto 30px; }
    .will .box-text {
      font-size: 28.5px; }
      .will .box-text br {
        display: none; }
  .goal {
    padding: 0 0 750px; }
    .goal:before {
      height: 2029px; }
    .goal .box-text {
      font-size: 25.5px; }
      .goal .box-text p {
        margin: 0 0 30px; }
    .goal h4 {
      font-size: 25.5px; }
  .author:before {
    height: 2603px; }
  .author h2 {
    margin: 100px auto 0; }
    .author h2:after {
      width: 150px;
      height: 139px;
      left: -100px; }
  .author .box-text {
    margin: 900px auto 0;
    font-size: 25.5px;
    max-width: 370px; }
  .author h3 {
    font-size: 32px;
    margin: 0 auto 40px; }
  .plane {
    padding: 173px 0 0; }
    .plane:before {
      height: calc(100% - 700px); }
    .plane .box-text {
      font-size: 25.5px;
      margin: 0 auto 69px;
      max-width: 430px; }
    .plane h3 {
      font-size: 28.5px;
      margin: 0 auto 40px; }
  .plane-box {
    margin: 0 -15px 25px;
    padding: 39px 0 74px; }
    .plane-box__head {
      margin: 0 auto 21px; }
      .plane-box__head p {
        letter-spacing: -0.26px;
        font-size: 25.5px; }
      .plane-box__head h4 {
        font-size: 33.5px;
        letter-spacing: -0.34px; }
  .plane-box-step {
    margin: 0 auto 40px; }
    .plane-box-step .text {
      font-size: 25.5px; }
    .plane-box-step__icon {
      margin: 0 auto 18px;
      max-width: 95px; }
  .plane-box-icon {
    margin: 24px auto 0; }
    .plane-box-icon img {
      max-width: 47px; }
    .plane-box-icon:before, .plane-box-icon::after {
      width: calc(50% - 30px); }
  .decor3 {
    left: -370px;
    top: 1850px; }
  .program {
    padding: 495px 0 0;
    margin: -453px 0 0; }
    .program:before {
      height: 2136px; }
    .program h2 {
      margin: 0 auto 173px; }
  .program-row {
    margin: 0 0 12px; }
    .program-row .box-text {
      font-size: 22px; }
      .program-row .box-text p {
        margin: 0 0 30px; }
    .program-row:nth-child(odd) .program-content h3 {
      margin: 0 0 32px; }
  .program-content h3 {
    margin: 0 0 32px;
    font-size: 37px; }
    .program-content h3:before {
      font-size: 143px;
      bottom: -33px; }
  .program-row1 {
    padding: 875px 0 0; }
    .program-row1 .program-img {
      min-width: 680px; }
    .program-row1 h3:before {
      left: -100px; }
  .program-row2 {
    padding: 946px 0 0; }
    .program-row2 .program-img {
      min-width: 650px; }
    .program-row2 h3:before {
      left: -70px; }
  .program-row3 {
    padding: 1030px 0 0; }
    .program-row3 .program-img {
      min-width: 680px; }
    .program-row3 h3:before {
      left: -100px; }
  .program-row4 {
    padding: 914px 0 0; }
    .program-row4 .program-img {
      min-width: 690px; }
    .program-row4 h3:before {
      left: -80px; }
  .accommodation {
    padding: 76px 0 117px; }
    .accommodation h2 {
      margin: 0 auto 53px; }
  .reviews-slider .slick-list {
    margin: 0 -6px; }
  .reviews-slider .slide {
    margin: 0 6px; }
  .reviews-slider__item {
    width: 267px;
    height: 267px; }
  .slick-arrow {
    width: 16px;
    height: 24px; }
  .slick-prev {
    left: 8px; }
  .slick-next {
    right: 8px; }
  .prices h2 {
    font-size: 52.5px;
    letter-spacing: -1.31px;
    margin: 0 auto 30px; }
    .prices h2 span {
      letter-spacing: -0.6px;
      font-size: 24px; }
      .prices h2 span:first-letter {
        font-size: 24px;
        letter-spacing: -0.6px; }
  .title-box {
    padding: 0 0 98px; }
    .title-box:after {
      height: 83px;
      width: 2px; }
    .title-box h3 {
      font-size: 52.5px;
      letter-spacing: -1.31px; }
      .title-box h3 span {
        letter-spacing: -0.6px;
        font-size: 24px; }
  .air-img {
    min-width: 692px;
    margin: -78px 15px 0 -230px; }
  .prices-wrapper {
    padding: 0 0 102px; }
    .prices-wrapper:before {
      height: 83px;
      width: 2px; }
  .prices-box {
    max-width: 270px;
    font-size: 22px; }
    .prices-box .dots-circle {
      width: 23px;
      height: 23px; }
      .prices-box .dots-circle:before {
        width: 14px;
        height: 14px; }
    .prices-box:first-child {
      margin: 0 auto 22px; }
    .prices-box:last-child {
      padding: 55px 0 0;
      max-width: 210px; }
  .callback {
    padding: 128px 0 0; }
  .reviews {
    padding: 125px 0 300px; }
    .reviews:before {
      height: 1900px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 440px) {
  h1 {
    font-size: 30px; }
    h1 span:first-letter {
      font-size: 50px; }
  .decor1 {
    max-width: 90px;
    left: 27px;
    top: 1450px; }
  .decor2 {
    max-width: 300px;
    top: 1350px; }
  .will .box-text, .goal .box-text {
    font-size: 22px; }
  .will h2, .goal h2 {
    font-size: 40px; }
  .decor3 {
    left: -280px;
    top: 1300px; }
  .program-row2 .program-img, .program-row1 .program-img {
    min-width: 580px; } }

@media only screen and (max-width: 380px) {
  header {
    padding: 25px 0; }
    header:before {
      background: url("../img/line-mobile.png") no-repeat center;
        background-size: cover;
      height: 1px; }
  .list-contacts {
    font-size: 10px; }
  .subtitle {
    font-size: 15px; }
  h1 {
    font-size: 23px; }
    h1 span:first-letter {
      font-size: 48px; }
  .home {
    padding: 55px 0 235px; }
    .home:before {
      height: 1304px; }
  .name-tour {
    max-width: 290px; }
  .date-tour {
    margin: 0 auto 650px;
    font-size: 16px; }
    .date-tour p {
      margin: 0 5px 0 0; }
  .callback-box {
    min-height: 170px; }
  .about {
    padding: 30px 0 320px;
    margin: -180px 0 0; }
    .about:before {
      height: 1791px; }
    .about h2 {
      font-size: 32px;
      margin: 0 auto 25px;
      max-width: 250px; }
      .about h2:first-letter {
        font-size: 32px; }
    .about .box-text {
      font-size: 17px;
      max-width: 290px; }
  .about-content {
    font-size: 17px; }
    .about-content ul {
      margin: 0 auto 34px;
      max-width: 290px; }
  h2 {
    font-size: 32px; }
    h2:first-letter {
      letter-spacing: -0.51px;
      font-size: 51px; }
  .decor1 {
    max-width: 73px;
    top: 900px; }
  .decor2 {
    max-width: 271px;
    top: 750px; }
  .will {
    margin: 0 auto 47px; }
    .will .box-text {
      font-size: 19px;
      line-height: 1.34;
      letter-spacing: -0.19px;
      max-width: 300px; }
    .will h2 {
      font-size: 32px;
      letter-spacing: -0.32px;
      margin: 0 auto 20px; }
      .will h2:first-letter {
        letter-spacing: -0.51px;
        font-size: 51px; }
  .goal {
    padding: 0 0 565px; }
    .goal:before {
      height: 1654px; }
    .goal h2 {
      font-size: 32px;
      letter-spacing: -0.32px;
      margin: 0 auto 20px; }
      .goal h2:first-letter {
        letter-spacing: -0.51px;
        font-size: 51px; }
    .goal .box-text {
      font-size: 17px;
      line-height: normal;
      max-width: 290px; }
      .goal .box-text p {
        margin: 0 0 20px; }
        .goal .box-text p:last-child {
          margin: 0; }
    .goal h4 {
      font-size: 17px; }
  .author {
    margin: -200px 0 0; }
    .author:before {
      height: 1900px; }
    .author h2 {
      margin: 75px auto 0; }
      .author h2:after {
        top: -25px;
        left: -60px;
        width: 99px;
        height: 91px; }
    .author .box-text {
      max-width: 250px;
      margin: 624px auto 0;
      font-size: 17px; }
      .author .box-text p {
        margin: 0 auto 20px; }
        .author .box-text p:last-child {
          margin: 0 auto; }
      .author .box-text h3 {
        font-size: 21px;
        margin: 0 auto 23px; }
  .plane {
    padding: 115px 0 0; }
    .plane h3 {
      font-size: 19px;
      margin: 0 auto 25px;
      max-width: 288px; }
    .plane .box-text {
      font-size: 17px;
      margin: 0 auto 46px;
      max-width: 290px; }
  .plane-box {
    padding: 27px 0 50px; }
    .plane-box__head {
      margin: 0 auto 15px; }
      .plane-box__head p {
        font-size: 17px;
        letter-spacing: -0.17px; }
      .plane-box__head h4 {
        font-size: 22px;
        letter-spacing: -0.22px; }
  .plane-box-icon {
    margin: 16px auto 0; }
    .plane-box-icon img {
      max-width: 31px; }
    .plane-box-icon:before, .plane-box-icon:after {
      height: 1px;
      width: calc(50% - 19px); }
  .plane-box-step {
    margin: 0 auto 28px; }
    .plane-box-step .text {
      font-size: 17px;
      line-height: normal;
      max-width: 290px; }
    .plane-box-step__icon {
      margin: 0 auto 12px;
      max-width: 63px; }
  .decor3 {
    left: -265px;
    top: 700px; }
  .program {
    padding: 330px 0 0;
    margin: -303px 0 0; }
    .program:before {
      height: 1425px; }
    .program h2 {
      letter-spacing: -0.32px;
      font-size: 32px;
      margin: 0 auto 116px; }
      .program h2:first-letter {
        font-size: 51px;
        letter-spacing: -0.51px; }
  .program-row {
    margin: 0 0 7px; }
    .program-row .box-text {
      font-size: 15px; }
      .program-row .box-text p {
        margin: 0 0 20px; }
    .program-row:nth-child(odd) .program-content h3 {
      margin: 0 0 20px; }
  .program-content h3 {
    font-size: 24.5px;
    margin: 0 0 20px; }
    .program-content h3:before {
      font-size: 95.5px;
      left: -60px;
      bottom: -25px; }
  .program-row1 {
    padding: 593px 0 0; }
    .program-row1 .program-img {
      min-width: 500px; }
  .program-row2 {
    padding: 670px 0 0; }
    .program-row2 .program-img {
      min-width: 500px;
      top: -30px; }
    .program-row2 h3:before {
      left: -40px; }
  .program-row3 {
    padding: 697px 0 0; }
    .program-row3 .program-img {
      min-width: 500px;
      top: -30px; }
  .program-row4 {
    padding: 610px 0 0; }
    .program-row4 .program-img {
      min-width: 500px;
      top: -50px;
      left: -40px; }
  .accommodation {
    padding: 50px 0 78px; }
    .accommodation h2 {
      margin: 0 auto 35px; }
  .reviews-slider .slick-list {
    margin: 0 -4px; }
  .reviews-slider .slide {
    margin: 0 4px; }
  .reviews-slider__item {
    width: 178px;
    height: 178px;
    border-radius: 14.2px; }
  .slick-arrow {
    width: 11px;
    height: 17px; }
  .slick-next {
    right: 14px; }
  .slick-prev {
    left: 14px; }
  .prices h2 {
    letter-spacing: -0.88px;
    font-size: 35px;
    margin: 0 auto 20px; }
    .prices h2 span {
      letter-spacing: -0.4px;
      font-size: 16px; }
      .prices h2 span:first-letter {
        letter-spacing: -0.4px;
        font-size: 16px; }
  .title-box {
    padding: 0 0 66px; }
    .title-box:after {
      height: 55px; }
    .title-box h3 {
      letter-spacing: -0.88px;
      font-size: 35px; }
      .title-box h3 span {
        letter-spacing: -0.4px;
        font-size: 16px; }
  .air-img {
    min-width: 461px;
    margin: -38px 10px 10px -130px; }
  .prices-wrapper {
    padding: 0 0 68px; }
    .prices-wrapper:before {
      height: 55px; }
  .prices-box {
    margin: 0 auto 14px;
    font-size: 15px;
    max-width: 180px; }
    .prices-box:last-child {
      padding: 31px 0 0;
      max-width: 140px;
      margin: 0 auto; }
    .prices-box .dots-circle {
      width: 16px;
      height: 16px;
      border: 1px solid #fff; }
      .prices-box .dots-circle:before {
        width: 10px;
        height: 10px;
        border: 1px solid #fff; }
  .callback {
    padding: 70px 0; }
  .callback-box {
    font-size: 24px; }
  .reviews {
    padding: 0 0 250px; }
    .reviews:before {
      height: 1500px; }
    .reviews h2 {
      margin: 0 auto 30px; } }

@media only screen and (max-width: 340px) {
  .date-tour {
    margin: 0 auto 550px; }
  .about {
    padding: 90px 0 320px; }
  .decor1 {
    top: 830px; }
  .decor3 {
    top: 730px;
    left: -230px; }
  .program-row1 .program-img {
    min-width: 450px; }
  .program-row2 .program-img {
    min-width: 480px; }
  .air-img {
    margin: -45px 10px 10px -160px; } }
