@import "vars"

/*==========  section home ==========*/
.home
  position: relative
  z-index: 1
  color: #fff
  padding: 137px 0 280px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 5875px
    background: url("../img/bg1.png") no-repeat center top
      size: cover
    z-index: -1

.name-tour
  font-size: 158.5px
  text-align: center
  width: 100%
  font-family: $title-font
  line-height: 0.93
  text-shadow: -1.7px 4.7px 46px rgba(89, 89, 89, 0.97)
  margin: 0 auto 20px

.date-tour
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  flex-wrap: wrap
  font-size: 43.2px
  font-weight: 800
  line-height: 1.12
  letter-spacing: 0.65px
  margin: 0 auto 1000px
  p
    margin: 0 244px 0 0
    text-shadow: 0 0 20px rgba(#fff, 0.95)
    &:last-child
      margin: 0 -40px 0 0

/*==========  section home end  ==========*/



/*==========  section about ==========*/
.about
  position: relative
  z-index: 2
  padding: 0 0 370px
  //padding: 1069px 0 520px
  //margin: -863px 0 0
  h2
    font-size: 91.4px
    letter-spacing: -0.91px
    font-weight: normal
    max-width: 680px
    &:first-letter
      font-family: $title-font
      font-size: 91.4px

.about-content
  font-size: 40.6px
  color: #1f1f1f
  max-width: 1311px
  width: 100%
  margin: 0 auto
  strong
    display: inline-block
    margin: 0 0 0 5px
    font-weight: 800
  ul
    margin: 0 0 35px
  .box-text
    max-width: 870px
  h4
    font-weight: 800
    line-height: 1.25
    color: #82664c
    text-transform: uppercase
    max-width: 900px
    margin: 40px 0 0

.decor
  position: absolute
  max-width: 339px
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.decor1
  top: -239px
  left: 174px

.decor2
  max-width: 1109px
  right: 0
  top: 0

/*==========  section about end  ==========*/


/*==========  section will ==========*/
.will
  margin: 0 0 93px
  position: relative
  z-index: 2
  color: #fff
  h2
    color: #fff
    margin: 0 auto 50px
    text-shadow: 0 0 20px rgba(#5b5f2f, 1)
  .box-text
    text-shadow: 0 0 20px rgba(#5b5f2f, 1)
    text-align: center
    max-width: 1246px
    width: 100%
    margin: 0 auto
    font-size: 45.7px
    letter-spacing: -0.46px
    font-family: $title-font
    filter: drop-shadow(0 0 10px #5b5f2f)

/*==========  section will end  ==========*/



/*==========  section goal ==========*/
.goal
  position: relative
  z-index: 1
  padding: 0 0 1182px
  color: #fefefe
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 3088px
    background: url("../img/bg3.png") no-repeat center bottom
      size: 100%
  .box-text
    text-align: center
    font-size: 40.6px
    width: 100%
    text-shadow: 0 0 20px rgba(#5b5f2f, 1)
    p
      margin: 0 0 40px
      &:last-child
        margin: 0
  h4
    text-align: center
    text-transform: uppercase
    font-weight: 800
    font-size: 40.6px
    margin: 0 auto
  h2
    color: #fff
    text-shadow: 0 0 20px rgba(#5b5f2f, 1)

/*==========  section goal end  ==========*/


/*==========  section author ==========*/
.author
  margin: -400px 0 0
  position: relative
  z-index: 3
  &:before
    content: ''
    position: absolute
    z-index: -1
    height: 1994px
    width: 100%
    left: 0
    top: 0
    background: url("../img/author-bg.png") no-repeat center top
      size: 100%
  h2
    color: #fff
    position: relative
    width: fit-content
    margin: 0 auto 469px
    &:after
      content: ''
      width: 486px
      height: 383px
      background: url("../img/decor3.png") no-repeat center
        size: 100%
      position: absolute
      left: -360px
      top: -70px
  .box-text
    max-width: 350px
    text-align: center
    color: #1f1f1f
    font-size: 40.5px
    margin: 0 0 0 210px
    p
      margin: 0 0 30px
      &:last-child
        margin: 0
  h3
    font-size: 50.8px
    color: #82664c
    font-family: $title-font

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section program ==========*/
.program
  position: relative
  z-index: 1
  padding: 761px 0 0
  //margin: -657px 0 0
  background: url("../img/days-bg.png") no-repeat center top
    size: 100%
  h2
    margin: 0 auto 567px
    max-width: 700px
    font-size: 91.4px
    letter-spacing: -0.91px
    line-height: 1
    color: #fff
    &:first-letter
      font-size: 152.4px
      letter-spacing: -1.52px


.program-row
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin: 0 0 225px
  position: relative
  &:nth-child(even)
    flex-direction: row-reverse

  &:nth-child(odd)
    .program-content
      text-align: right
      h3
        margin: 0 0 40px auto

.program-row1
  .program-content
    h3
      &:before
        left: -200px
  .program-img
    right: -290px
    top: -297px

.program-img
  display: flex
  align-items: center
  justify-content: center
  max-width: 1071px
  width: 100%
  position: absolute
  z-index: -1

.program-content
  color: #000
  width: 100%
  h3
    color: #82664c
    position: relative
    margin: 0 0 47px
    z-index: 1
    font-family: $title-font
    font-size: 59.2px
    width: fit-content
    text-transform: uppercase
    &:before
      content: attr(data-title)
      position: absolute
      color: rgba(201, 201, 201, 0.4)
      font-size: 228.6px
      font-family: $rosa
      line-height: 1
      bottom: -40px
      right: 10px
      white-space: nowrap
      letter-spacing: normal
      mix-blend-mode: multiply
      text-transform: none
  .box-text
    font-size: 35px
    font-weight: 300
    line-height: normal
    p
      margin: 0 0 40px
      &:last-child
        margin: 0

.program-row2
  margin: 0 0 213px
  .program-img
    width: 100%
    max-width: 1105px
    left: -300px
    top: -122px
  h3
    &:before
      right: -150px
  .box-text
    letter-spacing: -0.25px

.program-row3
  .program-img
    max-width: 1085px
    right: -300px
    top: -58px
  h3
    &:before
      left: -200px

.program-row4
  margin: 0
  .program-img
    max-width: 1099px
    top: -264px
    left: -300px

  h3
    &:before
      right: -280px

/*==========  section program end  ==========*/


/*==========  section accommodation ==========*/
.accommodation
  padding: 158px 0 265px
  h2
    margin: 0 auto 83px
/*==========  section accommodation end ==========*/


/*==========  section prices ==========*/
.title-box
  position: relative
  padding: 0 0 159px
  margin: 0 auto
  max-width: 790px
  text-align: center
  &:after
    content: ''
    position: absolute
    left: 50%
    transform: translate(-50%,0)
    width: 3px
    height: 132px
    bottom: 0
    background: #caa47f

  h3
    color: #caa47f
    font-family: $title-font
    line-height: 1
    font-size: 90px
    letter-spacing: -2.23px
    span
      font-size: 47.5px
      display: block

.prices
  position: relative
  z-index: 2
  h2
    font-size: 102.5px
    letter-spacing: -2.56px
    margin: 0 auto 20px
    color: #82664c
    &:first-letter
      font-family: $title-font
      font-size: 47.5px
    span
      font-size: 47.5px
      letter-spacing: -1.19px
      display: block

.air-img
  display: flex
  align-items: center
  margin: -110px 0 -20px -50px
  max-width: 1108px
  width: 100%
  img
    width: 100%

.prices-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  position: relative
  flex-direction: column
  padding: 80px 0 180px
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%,0)
    width: 2px
    height: 100%
    background: #caa47f


.prices-box
  width: 50%
  position: relative
  font-size: 35.5px
  font-weight: normal
  color: #000
  line-height: 1.4
  letter-spacing: normal
  h4
    font-weight: bold
    text-transform: uppercase
    span
      font-weight: 800
  .dots-circle
    width: 35px
    height: 35px
    border: solid 2px #fff
    background-color: #caa47f
    transform: none
    top: 0
    &:before
      width: 21px
      height: 21px
      border: solid 2px #fff
      background-color: #caa47f

  &:first-child
    margin: 0 0 0 auto
    padding: 0 0 65px 30px
    .dots-circle
      left: -17.5px

  &:last-child
    text-align: right
    padding: 0 37px 0 0
    p
      margin-left: auto
      max-width: 320px
  .dots-circle
    right: -17.5px
    left: auto
  p
    max-width: 430px

.color-green
  color: #6cae2c

.color-red
  color: #e91919

.dots-circle
  top: 0
  left: 50%
  transform: translateX(-50%,0)
  border: solid 2px #906d50
    radius: 50%
  width: 34px
  height: 34px
  position: absolute
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 22px
    height: 22px
    background: #906d50
    border-radius: 50%
/*==========  section prices end  ==========*/


/*==========  section callback ==========*/
.callback
  padding: 330px 0 0
  position: relative
  z-index: 2

.callback-box
  margin: 30px auto
  width: 100%
  min-height: 420px
  max-width: 420px
  font-size: 40px

/*==========  section callback end  ==========*/


/*==========  section reviews  ==========*/
.reviews
  position: relative
  z-index: 1
  color: #fff
  padding: 230px 0 300px
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    height: 3390px
    width: 100%
    background: url("../img/reviews-bg.png") no-repeat center bottom
      size: cover
  h2
    color: #fff


.reviews-slider
  &__item
    width: 100%
    height: 426px
    border-radius: 34px
    background-color: #d5dbe2
    display: flex
    align-items: center
    justify-content: center
    img
      width: 100%
      height: 100%
      object-fit: cover
  .slide
    padding: 0 10px
  .slick-list
    margin: 0 -10px


/*==========  section reviews end  ==========*/